.get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 64px;
    background-color: #0F0F0F;
}
.started-heading{
    font-size: 48px;
    color: white;
}
.started-button-container{
    margin-top: 48px;
    display: flex;
    gap: 24px;

}
.started-button-demo, .started-button-start{
    font-size: 16px;
    /* border: 1px solid white; */
    height: 50px;
    padding-inline: 45px;
    border-radius: 50px;
}

.started-button-demo{
    background: linear-gradient(90deg, #78B3CD 0%, #482C9D 50%, #8B1A9C 100%);
}

.started-button-start{
     /* Gradient Border */
    border: 1px solid white;
    border-image-source: linear-gradient(to right, #78B3CD, #482C9D, #8B1A9C);
    border-image-slice: 1;
}